:root {
  --color-accent: #2196f3;
  --color-accent-secondary: #188ce8;
  --black-color: #000000;
  --main-light-color: #ffffff;
  --color-secondary: #f5f4fa;
  --title-primary: #212121;
  --text-primary: #757575;
  --dark-bgc-color: #2f303a;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --icon-color: #AFB1B8;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-primary);
  font-size: 14px;
  background-color: var(--main-light-color);
}

body.modal-open {
  overflow: hidden;
}


img {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
}

.navigation {
  display: flex;
  margin-right: auto;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--color-accent);
}

.header .logotype {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.logotype__dark {
  color: var(--black-color);
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-primary);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current {
  color: var(--color-accent);
  position: relative;
}

.navigation__link--current::after {
  content: "";
  background-color: var(--color-accent);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;



}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--color-accent);
}

.contacts-list {
  display: flex;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
  color: var(--text-primary);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--color-accent);
}

.hero {
  background-color: var(--dark-bgc-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;


}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background-color: var(--color-accent);
  font-family: inherit;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-accent-secondary);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.feauters__block {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-primary);
  margin-bottom: 10px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.about {
  padding-bottom: 94px;
}



.about__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.about__box {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;

}


.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-primary);
  margin-bottom: 50px;
}

.about__list {
  display: flex;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__item {
  position: relative;
}

.about__image {
  width: 370px;
  height: 294px;
  ;
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-secondary);
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-primary);
}

.our-team__list {
  display: flex;
  gap: 30px;
}

.our-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__image {
  width: 270px;
  height: 260px;
}

.our-team__box {
  padding: 30px;
  background-color: var(--main-light-color);
}

.our-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-primary);
  margin-bottom: 10px;
}

.our-team__position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  margin-bottom: 16px;
}


.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__item {}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--color-accent);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--main-light-color);
}



.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}





.clients__list {
  display: flex;
  gap: 30px;

}

.clients__item {}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.clients__icon {
  fill: var(--icon-color);
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--color-accent);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--color-accent)
}


.footer {
  background-color: var(--dark-bgc-color);
  padding-top: 60px;
  padding-bottom: 60px;

}

.footer__container {
  display: flex;
  gap: 93px;
  align-items: baseline;
}

.footer .logotype {
  margin-bottom: 20px;
  display: flex;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--color-accent);
}

.logotype__light {
  color: var(--main-light-color);
}

.address {
  font-style: normal;
}

.address__list {}

.address__item:not(:last-child) {
  margin-bottom: 9px;

}

.address__link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.address__link:hover,
.address__link:focus {
  color: var(--color-accent);
}

.address__maps {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-light-color);
}


.footer__subscribe-box {}

.footer__subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  margin-right: 12px;
  display: flex;
  color: var(--main-light-color);
}


.subscribe-form__input::placeholder {

  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__button {
  width: 200px;
  height: 50px;
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  gap: 10px;
  border: none;
  cursor: pointer;
}

.subscribe-form__icon {}



.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-list__button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-primary);
  background-color: var(--color-secondary);
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio__images {}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__box {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio__title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-primary);
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.buttons-list__button--current,
.buttons-list__button:hover,
.buttons-list__button:focus {
  color: var(--main-light-color);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.footer__social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
  margin-bottom: 20px;

}




.footer .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer .social-list__icon {

  fill: var(--main-light-color);

}

.footer .social-list__link:hover,
.footer .social-list__link:focus {
  background-color: var(--color-accent);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link {
  display: block;
}


.overlay__box {
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.overlay__text {
  font-size: 18px;
  line-height: calc(28/18);
  letter-spacing: 0.03em;
  color: var(--main-light-color);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__link:hover .overlay__box,
.portfolio__link:focus .overlay__box {
  transform: translateY(0%)
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--main-light-color);
  padding: 40px;
}

.button-close__icon {
  width: 18px;
  height: 18px;
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.button-close:hover .button-close__icon,
.button-close:focus .button-close__icon {
  fill: var(--color-accent);
}


.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}


.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23/20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-primary);
  margin-bottom: 12px;
}

.form {}

.form__label {
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: var(--text-primary);
  margin-bottom: 4px;
  display: block;
}

.form__input {

  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form__input:focus-visible {
  border-color: var(--color-accent);
}

.form__input:focus-visible+.form__icon {
  fill: var(--color-accent);
}


.form__icon {
  width: 18px;
  height: 18px;
  fill: var(--title-primary);
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__wrapper {
  position: relative;
  margin-bottom: 10px;
}


.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  margin-bottom: 20px;
}

.form__textarea::placeholder {

  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:focus-visible {
  border-color: var(--color-accent);

}


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.form__checkbox-icon {
  width: 16px;
  height: 15px;
}

.form__checkbox-input:checked+.form__checkbox-label .form__unaccept {
  fill: transparent;


}

.form__checkbox-input:checked+.form__checkbox-label .form__accept {
  opacity: 1;
}


.form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  user-select: none;
}

.form__checkbox-icon {
  margin-right: 7px;
}

.form__unaccept {
  fill: var(--title-primary);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__accept {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form__checkbox-link {

  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--color-accent);
}

.form__button-send {
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  width: 200px;
  height: 50px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button-send:hover,
.form__button-send:focus {
  background-color: var(--color-accent-secondary);
}