:root {
  --color-accent: #2196f3;
  --color-accent-secondary: #188ce8;
  --black-color: #000000;
  --main-light-color: #ffffff;
  --color-secondary: #f5f4fa;
  --title-primary: #212121;
  --text-primary: #757575;
  --dark-bgc-color: #2f303a;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --icon-color: #AFB1B8;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-primary);
  font-size: 14px;
  background-color: var(--main-light-color);
}

body.modal-open {
  overflow: hidden;
}


img {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-box {
  display: flex;
}

.navigation {
  display: flex;
  margin-right: auto;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--color-accent);
}

.header .logotype {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.logotype-dark {
  color: var(--black-color);
}

.navigation-list {
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-primary);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current.navigation-link {
  color: var(--color-accent);
  position: relative;
}

.current.navigation-link::after {
  content: "";
  background-color: var(--color-accent);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;



}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--color-accent);
}

.contacts-list {
  display: flex;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
  color: var(--text-primary);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-accent);
}

.hero {
  background-color: var(--dark-bgc-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;


}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background-color: var(--color-accent);
  font-family: inherit;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-accent-secondary);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-title {}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.feauters-block {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-primary);
  margin-bottom: 10px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.about {
  padding-bottom: 94px;
}

.about-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.about-box {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;

}


.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-primary);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-item {
  position: relative;
}

.about-image {
  width: 370px;
  height: 294px;
  ;
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-secondary);
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-primary);
}

.our-team-list {
  display: flex;
  gap: 30px;
}

.our-team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-image {
  width: 270px;
  height: 260px;
}

.our-team-box {
  padding: 30px;
  background-color: var(--main-light-color);
}

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-primary);
  margin-bottom: 10px;
}

.our-team-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  margin-bottom: 16px;
}


.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item {}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-accent);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--main-light-color);
}



.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}





.clients-list {
  display: flex;
  gap: 30px;

}

.clients-item {}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.clients-icon {
  fill: var(--icon-color);
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--color-accent);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--color-accent)
}


.footer {
  background-color: var(--dark-bgc-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logotype {
  margin-bottom: 20px;
  display: flex;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--color-accent);
}

.logotype-light {
  color: var(--main-light-color);
}

.address {
  font-style: normal;
}

.address-list {}

.address-item:not(:last-child) {
  margin-bottom: 9px;

}

.address-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.address-link:hover,
.address-link:focus {
  color: var(--color-accent);
}

.maps {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-light-color);
}


.subscribe-box {}

.subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  margin-right: 12px;
  display: flex;
  color: var(--main-light-color);
}


.subscribe-input::placeholder {

  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  width: 200px;
  height: 50px;
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  gap: 10px;
  border: none;
  cursor: pointer;
}

.subscribe-icon {}



.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-primary);
  background-color: var(--color-secondary);
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-images {}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-box {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-primary);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.buttons-button.current,
.buttons-button:hover,
.buttons-button:focus {
  color: var(--main-light-color);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
  margin-bottom: 20px;

}


.container-footer {
  display: flex;
  gap: 93px;
  align-items: baseline;
}


.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer .social-icon {

  fill: var(--main-light-color);

}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--color-accent);
}

.portfolio-link:hover,
.portfoli:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link {
  display: block;
}


.overlay {
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.overlay-text {
  font-size: 18px;
  line-height: calc(28/18);
  letter-spacing: 0.03em;
  color: var(--main-light-color);
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%)
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--main-light-color);
  padding: 40px;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: var(--color-accent);
}


.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}


.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23/20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-primary);
  margin-bottom: 12px;
}

.form {}

.form-label {
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: var(--text-primary);
  margin-bottom: 4px;
  display: block;
}

.form-input {

  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-input:focus-visible {
  border-color: var(--color-accent);
}

.form-input:focus-visible+.form-icon {
  fill: var(--color-accent);
}


.form-icon {
  width: 18px;
  height: 18px;
  fill: var(--title-primary);
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper {
  position: relative;
  margin-bottom: 10px;
}


.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  margin-bottom: 20px;
}

.form-textarea::placeholder {

  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus-visible {
  border-color: var(--color-accent);

}


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.checkbox-icon {
  width: 16px;
  height: 15px;
}

.checkbox-input:checked+.checkbox-label .unaccept {
  fill: transparent;


}

.checkbox-input:checked+.checkbox-label .accept {
  opacity: 1;
}


.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  user-select: none;
}

.checkbox-icon {
  margin-right: 7px;
}

.unaccept {
  fill: var(--title-primary);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.checkbox-link {

  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--color-accent);
}

.button-send {
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  width: 200px;
  height: 50px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
  background-color: var(--color-accent-secondary);
}