.button-close__icon {
    width: 18px;
    height: 18px;
    fill: var(--black-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.button-close:hover .button-close__icon,
.button-close:focus .button-close__icon {
    fill: var(--color-accent);
}