.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
}

.header__logotype {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
}